# This is Git's per-user configuration file.
[user]
	name = dirac6582
	email = 38810216+dirac6582@users.noreply.github.com
# Please adapt and uncomment the following lines:
#	name = 天野智仁
#	email = amanotomohito@shoukaku.local
[core]
	editor = TERM=xterm-24bit emacsclient -t
	autocrlf = false # 改行コードの自動変換
	excludesfile = ${HOME}/.gitignore_global
[hub]
#	procotol = --help
	procotol = ssh
[color]
	ui = true # 文字色

# see also https://blog.katsubemakito.net/git/git-config-1st
[alias]
	st = status
	co = commit
	br = branch
	ck = checkout
# git-lfs setting. you need to install git-lfs via homebrew
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
